---
import Tabla from "@components/categories/Tabla.svelte";
import Layout from "@layouts/layout.astro";
---

<Layout page="Categorías">
    <h1 class="text-2xl font-bold mb-4">Categorías</h1>

    <Tabla client:visible />
</Layout>
