---
import Layout from '../layouts/layout.astro';
import Tabla from '@components/users/tabla.svelte';
---

<Layout page="users">
    <h1 class="text-2xl text-dark">Usuarios</h1>
    <Tabla client:visible/>
</Layout>